<body>
    <div>
        <div>
            <a class="something">something</a>
            
        </div>
        <a href="link" some other stuff></a>
    </div>
   
   <div>
        <a class="something">something</a>
        <a href="link" some other stuff></a>
    </div> 
</body>


<tr>
  
    <td>
<div class="detName">			<a href="https://pirateproxy.live/torrent/35177943/Python_All-In-One_for_Dummies" class="detLink" title="Details for Python All-In-One for Dummies">Python All-In-One for Dummies</a>
</div>
<a href="magnet:?xt=urn:btih:F60E849F18020861F74421F0EEA90F8310A5B8C9&dn=Python+All-In-One+for+Dummies&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2920%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.pirateparty.gr%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.cyberia.is%3A6969%2Fannounce" title="Download this torrent using magnet"><img src="https://pirateproxy.live/static/img/icon-magnet.gif" alt="Magnet link" height="12" width="12"></a><a href="https://pirateproxy.live/user/spy1984/"><img src="https://pirateproxy.live/static/img/trusted.png" alt="Trusted" title="Trusted" style="width:11px;" border="0" height="11" width="11"></a><img src="https://pirateproxy.live/static/img/11x11p.png" height="11" width="11">			
    </td>
 
</tr>