body{text-align:center;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:.7em;padding:10px;margin:0px;color:#000;background:#fff;line-height:1.3em;}
a{color:#009;text-decoration:none;border-bottom:1px dotted #000;}
a:hover{text-decoration:none;border-bottom:1px solid #009;}
.img, .img:hover{border-bottom:0;}
#searchfield2{display:block;width:500px;margin:0 auto 20px auto;text-align:center;padding:0 0 0 10px;}
.ad{float:right;margin-right:0px;}
.ad a{text-decoration:none;border:0;}
.ad2{float:right;margin-right:0px;}
.ad2 a{text-decoration:none;border:0;}
.smalltext{font-size:.8em;}
#TPBlogo{float:left;border:0;padding:0;margin-top:-7px;padding-right:10px;}
#breadcrumbs{text-align:left;vertical-align:bottom;font-size:0.8em;font-family:Tahoma, Arial, Verdana, sans-serif;font-weight:bold;padding:0 0 0 5px;margin:0;clear:both;}
h2{font-size:1.1em;line-height:1.5em;text-align:right;padding:2px 5px;margin:0;border-bottom:1px solid #D2B9A6;background:#F6F1EE;font-weight:normal;clear:both;}
h2 span{font-weight:bold;float:left;font-size:1.1em;}
.header a{color:#000;}
#searchfield{display:block;width:650px;height:200px;margin:0 auto;text-align:center;vertical-align:bottom;padding:0;}
#q{vertical-align:bottom;text-align:left;margin:0;}
#q .inputbox{margin:6px;width:300px;vertical-align:middle;padding:2px;}
.submitbutton{vertical-align:middle;}
.nohover:hover{background:#F6F1EE;}
.hide{display:none;}
table#searchResult{font-size:1em;border-collapse:collapse;border-spacing:1px;margin:0;text-align:left;width:100%;min-width:400px;}
table#searchResult a{border:0;}
table#searchResult a:hover{text-decoration:underline;}
thead#tableHead a{color:#000;font-weight:bold;}
thead#tableHead a:hover{border:0;}
thead#tableHead th{background:#D2B9A6;}
table#searchResult th, table#searchResult td{padding:3px;border:1px solid #fff;}
table#searchResult tr{background:#F6F1EE;}
table#searchResult tr.alt{background:#F2ECE7;}
table#searchResult tr:hover{background:#fff;}
table#searchResult td.vertTh{font-weight:bold;color:#7B563A;}
table#searchResult img{border:0;margin-left:2px;margin-right:2px;}
table#searchResult img.dl{width:9px;height:11px;}
table#searchResult img.co{width:11px;height:9px;}
.uldetails label{font-weight:bold;color:#7B563A;}
.uldetails text, #tname, #torrent{width:400px;}
.uldetails select{width:200px;}
.uldetails .nfo{height:300px;}
.uldetails #descpart{padding-top:10px;clear:both;}
.uldetails{padding:0;margin:0;width:650px;}
.uldetails td{width:120px;text-align:left;font-weight:bold;vertical-align:top;padding:7px 0px 7px 0;margin:0;color:#7B563A;border-bottom:1px dashed
#E8DCD2;}
.uldetails .tdleft{width:100px;text-align:left;padding-right:10px;border-bottom:1px dashed #E8DCD2;}
#browseContainer{text-align:center;font-family:Verdana, Helvetica;font-size:1em;}
#browseContainer a{color:#009;text-decoration:none;}
#browseContainer a:hover{border-bottom:1px solid #009;}
#browseContainer dt{font-weight:bold;font-size:1.6em;margin-bottom:5px;clear:both;}
.tv #browseContainer dt{line-height:1.4em;font-size:1.3em;}
.tv #browseContainer dd{line-height:1.4em;}
.tv #browseContainer .categoriesContainer{width:33%;}
#browseContainer dd{margin:0 0 15px 10px;float:left;font-size:1.2em;}
#browseContainer .categoriesContainer{text-align:left;vertical-align:top;padding:15px;width:50%;}
* html .categoriesContainer a{display:inline-block;}
dt#upload a{color:#080;}
dt#upload a:hover{border-bottom:1px solid #080;}
dt#latest a{color:#080;}
dt#latest a:hover{border-bottom:1px solid #080;}
dt#showall a{color:#080;}
dt#showall a:hover{border-bottom:1px solid #080;}
#categoriesTable{width:700px;height:auto;border:0;text-align:center;margin:20px auto;}
#detailsouterframe{position:relative;margin:0 auto;width:680px;text-align:right;padding:0;}
#detailsouterframe #delete{text-align:right;padding-right:4px;width:20px;background:#D2B9A6;float:right;clear:both;font-size:0.8em;font-weight:bold;}
#delete:hover{border:1px dashed red;}
#delete a{text-decoration:none;border:0;color:#ff0000;}
#detailsframe{clear:both;border-top:1px solid #fff;background:#F6F1EE;text-align:left;overflow:hidden;margin-top:10px;}
#detailsframe #title{padding:6px 0 8px 20px;font-size:1.2em;text-align:left;font-weight:bold;letter-spacing:0.07em;border-bottom:1px solid #fff;}
#detailsframe #title{height:1%;background:#D2B9A6;}
#detailsframe #title div{font-weight:bold;float:right;font-size:0.9em;padding-right:20px;}
#details{padding:10px;padding-left:20px;padding-top:0;background:#F6F1EE;}
#details h3{margin:0;border-bottom:1px solid #D2B9A6;font-size:1.3em;}
#details h3 em{font-style:normal;text-decoration:underline;}
#details h3 a{text-decoration:none;border-bottom:none;}
#details h4{margin:20px 0 0 0;color:#7B563A;font-size:1.2em;}
#details p{margin:10px 0 0 10px;text-align:left;}
#details dl{text-align:left;float:left;margin:10px 40px 10px 0px;}
#details dt{float:left;font-weight:bold;padding:0 5px 0 0;color:#7B563A;border-bottom:1px dashed #E8DCD2;clear:both;}
#details dd{padding:0 0 0 40px;border-bottom:1px dashed #E8DCD2;}
#details .col1{width:307px;}
#details dl.col2{clear:right;width:260px;}
#details dl.col2 dd{padding:0 0 0 70px;}
#details dd img{width:59px;height:10px;}
#details #CommentDiv{text-align:left;clear:both;background-color:#f6f1ee;width:620px;height:130px;padding:10px;margin-top:10px;margin-bottom:20px;}
#details #filelist{width:100%;border:0;}
#filelistContainer{margin:3em 0 1em 0;min-height:50px;border:1px solid #D2B9A6;background:#fff;padding:10px;clear:left;}
#details pre{white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;white-space:pre-wrap;word-wrap:break-word;font-size:11px;font-family:"Courier New", Courier, monospace;}
.nfo{margin:1em 0 1em 0px;width:600px;min-height:50px;border:1px solid #D2B9A6;background:#fff;padding:10px;font-size:12px;font-family:"Courier New",
Courier, monospace;clear:left;line-height:.9em;}
p.info{padding:10px 0 0;font-size:.9em;clear:both;}
p.info textarea{padding:3px;font-family:verdana, Arial, Helvetica, sans-serif;font-size:11px;width:300px;height:100px;}
p.info input{margin:4px 7px 0 0;}
.download{clear:both;}
.download a{font-size:1.0em;color:#008E00 !important;font-weight:bold;text-transform:uppercase;border-bottom:1px dotted #80C780;background:url('/static/img/icons/dl.gif') 0 0px no-repeat;padding:0 0 0 13px;}
.download a:hover{color:#008E00;text-decoration:none;border-bottom:1px solid #80C780;}
.detailartist{clear:both;}
.detailartist a{font-size:1.0em;color:#008E00 !important;font-weight:bold;text-transform:uppercase;border-bottom:1px dotted #80C780;background:url('/static/img/icons/td-nfo.png') 0 0px no-repeat;padding:0 0 0 13px;}
.detailartist a:hover{color:#008E00;text-decoration:none;border-bottom:1px solid #80C780;}
#details a.comments{padding:0 0 0 14px;background:url('/static/img/icons/comments.gif') 0 3px no-repeat;}
#details a.list{font-weight:bold;}
table#details{margin:40px 0 0;font-size:.9em;width:100%;border-collapse:collapse;}
th#details, td#details{padding:1px 4px;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#F6F1EE;}
thead#details th#details{background:#D2B9A6;}
tbody#details th#details{color:#7B563A;}
.shortcuts{width:27px;padding:0;margin:0;}
.shortcuts li{float:left;list-style:none;padding:0;margin:0;}
.shortcuts a, .shortcuts a:hover{width:13px;height:13px;display:block;text-indent:-9999px;padding:0;margin:0;border:0;background-position:center;}
.shortcuts .comments a{background:url('/static/img/icons/comments.gif') center no-repeat;}
#comments{font-size:0.9em;}
#comments p{margin:.5em 0 0 .5em;padding:.3em 0;}
#comments p.byline{color:#BB967A;margin-top:12px;}
#comments img{padding-bottom:0;vertical-align:bottom;}
#comments .comment{background:#fff;margin-top:.3em;}
.browse-coms{text-align:center;margin:1em 0;}
#AdvSearch{width:600px;margin:0 auto;}
#AdvSearch .longtext{width:300px;}
#AdvSearch .shorttext{width:85px;}
#AdvSearch dt.short{width:150px;float:left;margin:5px 5px 15px 0;text-align:right;}
#AdvSearch dd.short{float:left;width:400px;margin:0 0 15px 0;padding:0;}
#loginForm{width:25em;text-align:left;margin:0 auto;margin-bottom:4em;}
#loginForm fieldset{position:relative;border:0;}
#loginForm label{display:block;margin-top:1.5em;}
#loginForm input{position:absolute;right:0;}
#loginForm #submit{margin-top:1.5em;}
.rating{text-indent:-9999px;background:url('/static/img/icons/star0.gif') no-repeat;height:10px;width:59px;position:relative;margin-left:110px;}
* html .rating{margin-left:110px !important;}
#details dl.col2 dd.rating{padding:0;}
.rating span{display:none;}
.rating a{text-decoration:none;border:0;display:block;width:11px;height:10px;float:left;position:absolute;}
.rating .one{left:1px;}
.rating .two{left:11px;}
.rating .three{left:23px;}
.rating .four{left:34px;}
.rating .five{left:47px;}
.r1 .one, .r2 .two, .r3 .three, .r4 .four, .r5 .five{background:url('/static/img/icons/star1.gif') no-repeat;left:0;border:0;}
.r1 .one{width:11px;}
.r2 .two{width:23px;}
.r3 .three{width:35px;}
.r4 .four{width:47px;}
.r5 .five{width:59px;}
* html dd.rating{margin-left:190px;}
/**/.logged-in a:hover{background:url('/static/img/icons/star1.gif') no-repeat;left:0;border:0;}
.logged-in .two:hover{width:23px;}
.logged-in .three:hover{width:35px;}
.logged-in .four:hover{width:47px;}
.logged-in .five:hover{width:59px;}
.guide h1, .guide h2, .guide h3{margin:1.3em 0 .5em 0;}
.guide h2{font-size:1.5em;}
.guide h3{color:#080;font-size:1.2em;}
.guide{width:40em;margin:0 auto 10em auto;text-align:left;}
.guide a{color:#009;text-decoration:none;border-bottom:1px dotted #4040D9;}
.guide a:visited, .guide a:hover, .guidea:focus{text-decoration:none;border-bottom:1px solid #009;}
.guide .highlight{background:#FFFECF;}
.guide li p:first-child{font-weight:bold;}
.guide #intro p{font-style:italic;}
.guide img{display:block;float:left;border:1px solid #ddd;margin:.2em;padding:.2em;}
.guide img:hover{border:1px solid #bbb;}
.guide a:focus img{border:1px solid #f00;}
.guide p, .guide li{clear:both;}
.guide li{margin-bottom:2em;}
.guide ol{padding-left:2em;}
dl#keywords{margin-top:1.5em;}
#keywords dt{font-weight:bold;float:left;clear:both;}
#keywords dt, #keywords dd{margin-bottom:1em;}
#keywords dt{width:10em;}
#about, #donate, #subscribe{width:35em;text-align:left;margin:0 auto;line-height:1.4em;}
#pm legend{text-indent:-9999px;line-height:0;}
#pm fieldset{border:0;}
#pm label{display:block;margin-bottom:2em;}
#pm *{margin:0;padding:0;}
#pm{text-align:left;width:35em;margin:2em auto;position:relative;}
#pm label input{position:absolute;left:6em;right:0;}
#pm .submit{left:12.8em;margin-top:1em;padding:0 .3em;}
#pm .msg{margin-bottom:.2em;font-weight:bold;}
#pm #msg{width:30em;}
.noborder, .noborder:hover, .noborder img{border:0;text-decoration:none;}
#pms{margin:0 auto;text-align:left;line-height:2em;}
#pms td{padding:0 2em;margin:0 auto;}
#pms th{padding:0 1.8em;text-align:left;}
.read-pm{width:40em;}
#legal-threats{text-align:left;width:45em;margin:0 auto;line-height:2em;}
#cpl{line-height:1.5em;text-align:left;}
#cpl th{padding-right:3em;}
#cpl .submit{margin-top:1em;}
#news{text-align:left;width:30em;margin:0 auto;}
#news dt{font-weight:bold;margin-top:1em;}
#news dd{margin-left:0;}
#news dt span{color:#888;font-style:italic;}
.read-pm{margin:2em auto;text-align:left;}
.read-pm th{padding-right:5em;}
.read-pm .msg{padding-top:2em;}
#registerTable{text-align:left;line-height:2.5em;}
#registerTable td{padding:0 1em;}
#registerTable label{margin-right:1em;}
.ad, .ad:hover{border:0;}
.ad2, .ad2:hover{border:0;}
.spons-link{clear:both;}
.spons-link strong{color:#7B563A;}
#irc{width:39.8em;margin:0 auto;text-align:left;padding:.4em;background:#fbfbfb;border:1px solid #ddd;color:#888;margin-top:1em;line-height:1.6em;}
#contact{line-height:3em;width:41em;margin:2em auto;}
#contact fieldset{border:0;}
#contact label{display:block;text-align:left;position:relative;}
#contact label input, #contact label select{width:19em;position:absolute;left:10em;}
#contact .submit{margin:0;width:auto;padding:.2em .3em;display:block;}
* html #contact textarea{margin:0;width:30em;height:10em;margin-left:-3em;}
#contact textarea{margin:0;width:30em;height:10em;margin-left:-3.6em;}
.hide{display:none;}
#subscribe li{list-style:none;margin:0;padding:0;line-height:1.6em;height:1%;}
#subscribe li li{margin-left:10px;}
#subscribe ul{margin:2em 0 0 0;padding:0;}
#subscribe li{font-weight:bold;}
#subscribe li a{background:url('/static/img/rss_small.gif') no-repeat right 2px;display:block;border:0;}
#subscribe li a:hover{background-color:#f2ece7;}
#subscribe li ul{margin:0;margin-bottom:1em;}
#subscribe li ul li{font-weight:normal;}
#kopimi, .rss, .rss:hover{text-decoration:none;border:0;}
#content{position:relative;text-align:left;-width:expression(document.body.clientWidth < 960? "960px":document.body.clientWidth > 1200? "1200px":"auto");min-width:960px;max-width:1200px;margin:15px auto 0px auto;}
#sky-banner{width:120px;position:absolute;top:120px;left:10px;z-index:1;}
#sky-banner a, #sky-banner img{border:0;}
#adbrite-banner{width:110px;position:absolute;top:0;right:0;background:#F6F1EE;padding:5px;text-align:center;}
#sky-right{width:162px;float:right;margin-right:1px;}
#main-content{margin-left:130px;margin-bottom:0;padding-right:10px;margin-top:0;overflow:hidden;position:relative;z-index:90;}
.adText{color:#000;border:0;}
#fbanners{padding:10px;margin:0 auto;}
#fbanners a{border:0;margin:0 7px;color:#000;}
#fbanners img{border:0;}
#fbanners #kopimi{display:block;margin:20px auto 0 auto;width:40px;}
.noborder, .noborder a, .noborder img{border:0;text-decoration:none;}
#new-post{margin-bottom:1em;}
#headbar{position:relative;height:1%;}
#headbar #rss a{display:block;background:url('/static/img/rss.gif') no-repeat;text-indent:-9999px;width:35px;height:13px;border:0;position:absolute;top:.5em;right:.5em;}
#blog img{border:0;}
#blog{width:45em;text-align:left;margin:0 auto;margin-top:2em;}
.meta{color:#999;}
.post{margin-bottom:3em;}
#blog h4{margin-top:3em;}
#blog #comments dt{background:#f6f1ee;padding:.3em;color:#7b563a;margin-top:1.5em;}
#blog #comments dd{margin:0;padding:0 .3em;}
#blog #comments p{margin-left:0;margin-bottom:1em;}
#blog form textarea{width:100%;display:block;height:10em;margin-top:0;}
#blog form .button{margin-top:.5em;}
#blog-form{margin-bottom:1em;width:100%;background:#fff;}
#blog-form #title{width:100%;font-weight:bold;}
#blog-form div{margin:1em 0;}
#blog-form div input{width:auto;margin-bottom:.3em;}
#blog-form label{display:block;margin-bottom:.5em;}
#rss{display:inline;}
.hide{display:none;}
#header .ad{width:470px;}
#header .ad2{width:630px;}
#search-manual dd{margin:0;}
#search-manual dt{margin-top:1em;}
#search-manual code{font-size:1.2em;font-family:Courier;}
#search-manual a{border:0;}
#search-manual h4{margin:0;padding:0;margin-top:2em;}
#search-manual ul{padding:0;list-style:none;}
#autocomplete_choice{border:1px solid red;}
#torrent-admin{margin:.5em 0 0 0;overflow:auto;float:right;}
#torrent-admin h4{margin:0;padding:0;width:3.6em;background:#D2B9A6;padding:.2em;float:left;}
#torrent-admin a, .user-admin a{color:#000;}
#torrent-admin h4 a, .whip{border:0;}
#torrent-admin #buttons{background:#F6F1EE;float:left;padding:.2em .2em .2em 1em;}
#uploader, .comment{position:relative;}
#uploader-admin, .user-admin{border:1px solid #D2B9A6;position:absolute;top:-1.5em;right:-4em;background:#F6F1EE;padding:.2em;}
.comment .user-admin{left:4em;top:0;width:30em;}
.whip img{width:auto !important;border:0;}
.whip:hover{border:0;}
.com-vote{float:right;margin-top:-1.8em;margin-right:.5em;}
.com-vote img, .com-vote a{border:0;}
#edit-user{border:1px solid red;position:absolute;top:0;left:0;width:100%;background:#fff;padding:.2em;opacity:.9;}
#edit-user form{margin:0;padding:0;border:1px solid red;}
#edit-user .close{border:1px solid red;text-align:right;}
.spons-link{background:#fff;padding:.5em .3em;margin-top:1em;}
.spons-link iframe{margin:0 auto;text-align:center;}
.doodle{border-top:1px solid #ccc;padding-top:.5em;margin-top:.5em;}
.doodle img{display:block;margin:0 auto;}
#main-content iframe{margin:0 auto;margin-bottom:1em;display:block;}
#searchcloud{width:56em;margin:2em auto;border:0;text-decoration:none;line-height:1.5;}
tbody{position:relative;}
#spinner{position:absolute;width:10em;height:10em;background:#fff;z-index:1;left:50%;margin-left:-5em;top:15em;opacity:.9;}
#spinner img{display:block;margin:3em auto 0 auto;}
.policy{width:42.4em !important;}
.policy p{text-align:justify;}
.adHeadline{font:bold 10pt Arial;text-decoration:underline;color:#0000FF;}
.adText{font:normal 10pt Arial;text-decoration:none;color:#000000;}
.cover h3, .morealbums h3, .upcomingevents h3{line-height:1.4em;border:0 !important;padding:0 10px;}
.similarartists h3{line-height:1.4em;padding:0 10px;}
.cover{float:left;width:200px;margin:0 15px 5px 0;text-align:center;}
.cover img{margin:10px 0 0 0;}
.torpicture{float:left;width:280px;margin:0 15px 5px 0;text-align:center;}
.torpicture img{margin:10px 0 0 0;}
.lastfm{float:left;margin:12px 15px 5px 0;}
.morealbums{float:right;width:300px;}
.similarartists a{display:block;float:left;margin:0 5px;padding:0 3px;}
.upcomingevents, .similarartists{float:left;width:340px;margin:20px 0 0 0;}
.morealbums ul, .upcomingevents ul{list-style:none;margin:10px 0;padding:0;border-top:1px solid #D2B9A6;}
.morealbums ul{margin:10px 10px 10px 0;}
.morealbums li{list-style:none;border-bottom:1px solid #D2B9A6;padding:4px;}
.upcomingevents li{list-style:none;border-bottom:1px solid #D2B9A6;}
.upcomingevents a{border:0;}
.morealbums li a{display:block;padding:0px 0px;border:0;}
.upcomingevents li a{display:block;padding:4px 10px;border:0;}
.morealbums li a:hover, .upcomingevents li a:hover{background:#efe9e5;}
#social{padding:10px 0;float:left;line-height:18px;width:460px;}
#social *{float:left;margin-right:5px;border:0;}
#social .FlattrButton{float:right;}
 