@media screen and (max-width:768px){#fp h1 a{width:130px;height:150px;background-size:100%;}
#fp #inp input{width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#fp a[title='Browse Torrents']:after,
#fp label[accesskey='e']:after{content:"\A";white-space:pre;}
#TPBlogo{width:43px;}
#q{line-height:20px;padding-top:10px;padding:10px 5% 10px 5%;}
#q a.img{margin:0px 1% 0 0;float:left;}
#q .inputbox{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:70%;float:left;margin:20px 0 10px 0;height:25px;}
#q .submitbutton{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:30%;float:left;margin:20px 0 10px 0;height:25px;}
h2{text-align:center;}
h2 span{display:block;width:100%;margin-bottom:5px;}
#categoriesTable{width:100%;margin:0;}
#browseContainer .categoriesContainer{width:100%;display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
#content{min-width:0;max-width:90%;}
table#searchResult{max-width:100%;min-width:0;}
table#searchResult{word-break:break-all;}
table#searchResult th:nth-child(3){width:42px;}
table#searchResult th:nth-child(3) abbr{content:'SE/LE';}
table#searchResult th:nth-child(4){display:none;}
table#searchResult tr td:nth-child(3),
table#searchResult tr td:nth-child(4){display:block;border-bottom:0;}
table#searchResult tr td:nth-child(4){border-top:0;}
table#searchResult tr td:nth-child(3):after{content:'';}
#SearchResults div[align=center] a:nth-child(14n):after{content:"\A";white-space:pre;}
#detailsouterframe{width:100%;}
.viewswitch{display:none;}
}
 